#__next {
    &:has(#key-records) {
        background: none;
    }

    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/background.jpg");
    background-size: cover;
}

#key-records {
    width: 100%;
    padding: 0;
    margin: 0;
    > div {
        padding: 0;
        margin: 0;

        &:nth-child(2) > * {
            border-top: none;
        }
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    button {
        border-radius: 0%;

        display: flex;
        justify-content: center;
        align-items: center;

        padding: 0;
        width: 70px;
        height: 60px;

        font-size: larger;

        outline: none;

        background-color: #C1C8CD;
        color: white;

        box-shadow: none !important;
    }
}

